.cal-c {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.flex-box {
    background-color: white;
    opacity:.75;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    height: 700px;
    width: 90%;
    box-shadow: 1px 1px gray;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.cal-day {
    opacity: 1;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 12%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
}
.flex-box2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width:70%
}
.flex-box3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 80%
}


.cal-day-bottom {
    border-bottom: 1px solid black;
}
.cal-person {
    margin:5px;
    padding:5px;
    background-color: blue;
    border-radius: 15px;
    cursor: pointer;
}
@media only screen and (min-width: 300px) and (max-width: 550px){
    .flex-box {
        background-color: white;
        opacity:.75;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        height: 500px;
        width: 95%;
        box-shadow: 1px 1px gray;
        border-radius: 10px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .cal-day {
        opacity: 1;
        border-right: 1px solid black;
        border-left: 1px solid black;
        width: 25%;
        padding-right: 2px;
        padding-left: 2px;
        padding-top: 5px;
        border-bottom: 1px solid black;
        height: 200px;
    }
}
@media only screen and (min-width: 550px) and (max-width: 1061px){
    .flex-box {
        background-color: white;
        opacity:.75;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        height: 500px;
        width: 95%;
        box-shadow: 1px 1px gray;
        border-radius: 10px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .cal-day {
        opacity: 1;
        border-right: 1px solid black;
        border-left: 1px solid black;
        width: 25%;
        padding-right: 2px;
        padding-left: 2px;
        padding-top: 5px;
        border-bottom: 1px solid black;
        height: 200px;
    }
}